PRINTFARM_SERVER_URL=http://192.168.2.20:5050/
PRINTFARM_AGENT_ID=lan-agent-1
PRINTFARM_AGENT_TOKEN=b7Kf29QpLm8XvR4nTz1sUa6YwC3eHd9JpM5qNx2V
PRINTFARM_AGENT_POLL_INTERVAL_SEC=2
PRINTFARM_AGENT_STATUS_PUSH_INTERVAL_SEC=2
PRINTFARM_AGENT_COMMAND_WORKERS=6
